@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #362222, #6d1717);
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    padding-bottom: 50px;
}

.error {
    position:relative; /* Para posicionar elementos dentro sin afectar el layout general */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; /* Si quieres un espacio en la parte inferior */
}

.error-font {
    font-family: 'Great Vibes', cursive; /* Fuente similar a Marshall */
    text-decoration: none;
    color: #fff;                     /* Color blanco */
    font-size: 80px;                 /* Tamaño de fuente */
    text-align: bottom;              /* Alinear el texto al centro */
    position: sticky;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.stage {
    position: absolute; /* Para posicionar elementos dentro sin afectar el layout general */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; /* Si quieres un espacio en la parte inferior */
}

.amplificador {
    box-sizing: content-box;
    width: 400px;    /* Ancho del cuadrado */
    height: 400px;   /* Alto del cuadrado, igual que el ancho */
    background-color: #ad8383;
    border-radius: 25px;
    border: 42px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.broke-1 {
    width: 150px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    top: 87%;
    left: 40%;
    transform: rotate(125deg);
}

#flame-a {
    height:95px;
    width:95px;
    background:#ff7200;
    position:relative;
    top:1px;
    left:1px;
    margin:0px 90px;
    border-radius:70% 50% 0% 50%;
    transform: rotate(100deg);
    filter: drop-shadow(0 0 10px #d43322);
    animation:scale-alternates 2s ease-in-out infinite;
}

#flame-b {
    height:75px;
    width:75px;
    background:#ff7200;
    position:relative;
    top:-15px;
    left:-45px;
    margin:0px 90px;
    border-radius:70% 50% 0% 50%;
    transform: rotate(102deg);
    filter: drop-shadow(0 0 10px #d43322);
    animation:scale-alternates 2s ease-in-out infinite;
}

@keyframes scale-alternates{
    0%,100%{
     transform:scale(1.1) rotatez(95deg);
        
   }
   30%,90%{
     transform:scale(0.90) rotatez(95deg);
   }
    45%,60%{
     transform:scale(0.96) rotatez(95deg);
   }
   50%,75%{
     transform:scale(0.97) rotatez(95deg);
   }
}

.broke-2 {
    width: 100px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    top: 77%;
    left: 67%;
    transform: rotate(25deg);
}

.broke-3 {
    width: 100px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    top: 73%;
    left: 84%;
    transform: rotate(125deg);
}

.malla {
    width: 400px;
    height: 420px;
    background-color: #353333;
    border: 3px solid rgb(255, 187, 0);
    background: repeating-linear-gradient(
        45deg,
        #353333,
        #353333 5px,
        #2b2b2b 5px,
        #2b2b2b 10px
    );
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel {
    background: linear-gradient(to right, #b8860b, #d2b48c); /* Efecto dorado */
    width: 394px;
    height: 80px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo de las perillas */
.knob {
    width:20px;
    height: 20px;
    background: radial-gradient(circle, #f4d03f 50%, #c49a00 100%); /* Simula el efecto dorado de las perillas */
    border-radius: 50%;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knob-2 {
    width:20px;
    height: 20px;
    background: radial-gradient(circle, #0a0a0a 50%, #c49a00 100%); /* Simula el efecto dorado de las perillas */
    border-radius: 50%;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Indicador en las perillas */
.knob::before {
    content: '';
    width: 3px;
    height: 8px;
    background-color: black;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo de los labels (nombres debajo de los controles) */
.label a {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

/* Contenedor de cada control */
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blaeck-font a {
    font-family: 'Great Vibes', cursive; /* Fuente similar a Marshall */
    text-decoration: none;
    color: #fff;                     /* Color blanco */
    font-size: 30px;                 /* Tamaño de fuente */
    text-align: center;              /* Alinear el texto al centro */
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.blaeck-font a:hover {
    color: #c0392b;
    font-size: 30px;
}

/* Tira superior (barra) */
.tira-superior {
    width: 350px;
    height: 17px;
    background-color: rgb(255, 187, 0);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* Patitas del amplificador */
.patita {
    width: 60px;
    height: 15px;
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    position: absolute;
    bottom: -50px;
}

/* Posicionar patitas en las esquinas */
.patita.izquierda {
    left: 10px;
}

.patita.derecha {
    right: 10px;
}

.container{
    width:200px;
    height:200px;
    margin:10px auto;
    box-sizing: content-box;
}

#flame-1{
    height:95px;
    width:95px;
    background:#ff7200;
    position:relative;
    top:52px;
    left:2px;
    margin:30px 70px;
    border-radius:0% 50% 70% 50%;
    transform:rotateZ(45deg) scale(1.1);
    filter: drop-shadow(0 0 10px #d43322);
    animation:scale-alternate 2s ease-in-out infinite;
  }
#flame-2{
    height:75px;
    width:75px;
    background:#ef5a00;
    position:relative;
    top:162px;
    left:-20px; 
    margin:30px 70px;
    border-radius:0% 40% 60% 40%;
    transform:scaleX(0.8) rotatez(45deg);
    filter: drop-shadow(0 0 10px #d43322);
    animation: scale-up 2s ease-in-out infinite;
  }
  
#flame-3{
    height:75px;
    width:75px;
    background:#ef5a00;
    position:relative;
    top:-60px;
    left:50px; 
    margin:30px 70px;
    border-radius:0% 40% 60% 40%;
    transform:scaleX(0.8) rotatez(45deg);
    filter: drop-shadow(0 0 10px #d43322);
    animation: scale-up-3 3s ease-in-out infinite;
  }
.small-element{
    height:20px;
    width:20px;
    border-radius:50%;
    background: #ef5a00;  
    position:relative;
    top:-130px;
    left:110px;
      
  }
#small-element-1{
      
    animation: particle-up 3.5s ease-in-out infinite;
    
  }
#small-element-2{
      
    animation: particle-up 3s ease-in-out infinite;
    
  }
  
  
.fire-bottom .main-fire {
    position: relative;
    top: -190px;
    left: 90px;
    width: 55px;
    height: 55px;
    background-color: #ff7800;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 100% 40%;
    filter: blur(8px);
    animation: glow 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  
    
}
@keyframes glow{
    0%,100%{
      
      background:#ef5a00;
    }
    50%{
      background:#ff7800;
  
      
    }
    
}
  
@keyframes scale-up-3{
    0%,100%{
      transform:scale(1.1) rotatez(45deg);
         
    }
    40%,90%{
      transform:scale(0.96) rotatez(45deg);
    }
    30%,75%{
      transform:scale(0.90) rotatez(45deg);
    }
    
    
}
  
  
@keyframes scale-up{
    0%,100%{
      transform:scale(1) rotatez(45deg);
         
    }
    40%,90%{
      transform:scale(0.96) rotatez(45deg);
    }
    30%,75%{
      transform:scale(0.90) rotatez(45deg);
    } 
}
  
@keyframes scale-alternate{
     0%,100%{
      transform:scale(1.1) rotatez(45deg);
         
    }
    30%,90%{
      transform:scale(0.90) rotatez(45deg);
    }
     45%,60%{
      transform:scale(0.96) rotatez(45deg);
    }
    50%,75%{
      transform:scale(0.97) rotatez(45deg);
    }
}
@keyframes particle-up{
    0%{
      top:-130px;
      left:110px;
    }
    100%{
      position:relative;
      opacity:0.8;
      top:-270px;
       left:145px;
      transform:scale(0.1);
      
    }
    
    
}
